html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  position: relative;
  font-family: sans-serif;
}

#header {
  z-index: 1;
  position: absolute;
  top: 0;
  height: 38px;
  width: 100%;
  background: #9dd53a;
  background: -moz-linear-gradient(top, #9dd53a 0%, #a1d54f 50%, #80c217 51%, #7cbc0a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9dd53a), color-stop(50%,#a1d54f), color-stop(51%,#80c217), color-stop(100%,#7cbc0a));
}

#footer {
  z-index: 1;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 43px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #000;
  background: #000;
  background: #000 -webkit-gradient(linear, left bottom, left top, color-stop(0, rgb(0,0,0)), color-stop(0.5, rgb(0,0,0)), color-stop(0.51, rgb(21,21,21)), color-stop(0.9, rgb(62,62,62)));
  background: #8e5b3e -moz-linear-gradient(center bottom, rgb(62,62,62) 90%, rgb(21,21,21) 51%, rgb(0,0,0) 50%, rgb(0,0,0) 0%);
  text-align: center;
}

.scroll-frame {
  position: absolute;
  top: 38px;
  overflow-y: scroll;
  bottom: 45px;
  width: 100%;
}

* {
  -webkit-user-select: none;
}

.shadow {
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

#header h1 {
  font-size: 20px;
  position: absolute;
  left: 50%;
  font-weight: bold;
  text-shadow: rgb(33, 33, 33) 0px 1px 0;
  text-align: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 7px 0 0 -95px;
  height: 45px;
  width: 190px;
  overflow: hidden;
  color: #fff;
  font-family: 'Yanone Kaffeesatz', arial, serif;
}

#header .button {
  position: absolute;
  overflow: hidden;
  top: 3px;
  margin: 0;
  padding: 0 3px;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid rgba(15, 18, 34, 0.4);
  -webkit-border-radius: 4px;
}

#header .button-active {
  background: #172555;
  background: #172555 -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(23,37,85)),
    color-stop(0.5, rgb(23,37,85)),
    color-stop(0.51, rgb(39,53,99)),
    color-stop(0.9, rgb(91,101,126))
  );
  background: #172555 -moz-linear-gradient(
    center bottom,
    rgb(91,101,126) 90%,
    rgb(39,53,99) 51%,
    rgb(23,37,85) 50%,
    rgb(23,37,85) 0%
  );

  border: 1px solid rgba(15, 18, 34, 0.5);
}

#header .button-right {
  right: 6px;
}

#header .button-left {
  left: 6px;
}

#my-location span {
  font-size: 23px !important;
  padding: 0 4px;
}

#map-wrapper {
  bottom: 0;
  top: 38px;
  width: 100%;
  position: absolute;
}

.ie6 #map,
.ie7 #map {
  height: 500px;
}

#map {
  height: 100%;
  width: 100%;
  position: relative;
}

#loc, #load {
  width: 16px;
  height: 16px;
}

#load {
  display: none;
}

#footer {
  line-height: 43px;
}

#footer .button {
  margin: 0;
  padding: 7px;
  width: auto;
  height: 30px;
  line-height: 30px;
  font-family: inherit;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-shadow: rgba(0, 0, 0, 0.6) 0 -1px 0;
  text-overflow: ellipsis;
  text-decoration: none;
  white-space: nowrap;
  border: 1px solid rgba(15, 18, 34, 0.5);
  border-left: 0;
}

#footer .button-left {
  -webkit-border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border: 1px solid rgba(15, 18, 34, 0.5);
}

#footer .button-right {
  -webkit-border-top-right-radius: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border: 1px solid rgba(15, 18, 34, 0.5);
  border-left: 0;
}

#footer .button-both {
  -webkit-border-radius: 4px;
  border: 1px solid rgba(15, 18, 34, 0.5);
}

#footer .button-active {
  background: #4c4c4c;
  background: #4c4c4c -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(37,37,37)),
    color-stop(0.5, rgb(36,36,36)),
    color-stop(0.51, rgb(54,54,54)),
    color-stop(0.9, rgb(76,76,76))
  );
  background: #4c4c4c -moz-linear-gradient(
    center bottom,
    rgb(76,76,76) 90%,
    rgb(54,54,54) 51%,
    rgb(36,36,36) 50%,
    rgb(37,37,37) 0%
  );
}
#refresh {
  display: none;
}

#refresh span {
  display: block;
  width: 16px;
  height: 16px;
}

#refresh span,
#my-location span {
  font-size: 23px !important;
  padding: 0 4px;
}

#header, #footer {
  -webkit-transition: all .1s ease-in;
}

img a {
  border: none;
}
